<?xml version="1.0" encoding="UTF-8"?>
<!--
 /******************************************************************************
  * Copyright (c) 2015  ARRIS Group Inc.                                        *
   * All Rights Reserved                                                         *
    * No portions of this material may be reproduced in any form without the      *
     * written permission of ARRIS.                                                *
      *                                                                             *
       * All information contained in this document is Arris company private,        *
        * proprietary, and trade secret.                                              *
	 *                                                                             *
	  *******************************************************************************
-->
<CONFIG>
	<COMPONENT NAME="WIFI_24G">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="ENABLE" />
		<PARAMETER NAME="SSIDNAME" />
		<PARAMETER NAME="PASSPHRASE" />
		<PARAMETER NAME="SECURITYMODE" />
		<PARAMETER NAME="MODE" />
		<PARAMETER NAME="BANDWIDTH" />
		<PARAMETER NAME="SIDEBAND" />
		<PARAMETER NAME="CHANNEL" />
		<PARAMETER NAME="POWER" />
		<PARAMETER NAME="GUEST_NW_EN" />
	</COMPONENT>
	<COMPONENT NAME="WIFI_5G">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="ENABLE" />
		<PARAMETER NAME="SSIDNAME" />
		<PARAMETER NAME="PASSPHRASE" />
		<PARAMETER NAME="SECURITYMODE" />
		<PARAMETER NAME="MODE" />
		<PARAMETER NAME="BANDWIDTH" />
		<PARAMETER NAME="SIDEBAND" />
		<PARAMETER NAME="CHANNEL" />
		<PARAMETER NAME="POWER" />
		<PARAMETER NAME="GUEST_NW_EN" />
	</COMPONENT>
	<COMPONENT NAME="WIFI_GUEST_24G">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="SSIDNAME" />
		<PARAMETER NAME="PASSPHRASE" />
		<PARAMETER NAME="SECURITYMODE" />
		<PARAMETER NAME="ENABLE" />
	</COMPONENT>
	<COMPONENT NAME="WIFI_GUEST_5G">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="SSIDNAME" />
		<PARAMETER NAME="PASSPHRASE" />
		<PARAMETER NAME="SECURITYMODE" />
		<PARAMETER NAME="ENABLE" />
	</COMPONENT>
	<COMPONENT NAME="PARENT_URL_FILTER">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="DATA" />
		<PARAMETER NAME="DATE_TIME" />
	</COMPONENT>
	<COMPONENT NAME="PARENT_KEYWORD_FILTER">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="DATA" />
		<PARAMETER NAME="DATE_TIME" />
	</COMPONENT>
	<COMPONENT NAME="PARENT_BLOCK_DEVICES">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="DATA" />
		<PARAMETER NAME="DATE_TIME" />
	</COMPONENT>
	<COMPONENT NAME="FIRMWARE">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="SW_VERSION" />
		<PARAMETER NAME="LATEST_SW_VERSION" />
		<PARAMETER NAME="UPGRADE_SW" />
		<PARAMETER NAME="CHANGELOG" />
	</COMPONENT>
	<COMPONENT NAME="NETWORKMAP">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="MAC_ADDR" />
		<PARAMETER NAME="IP_ADDR" />
		<PARAMETER NAME="DEVICE_TYPE" />
		<PARAMETER NAME="OS_TYPE" />
		<PARAMETER NAME="HOST_NAME" />
		<PARAMETER NAME="CONN_TYPE" />
		<PARAMETER NAME="SSID_NAME" />
		<PARAMETER NAME="RADIO_TYPE" />
		<PARAMETER NAME="LEAF" />
	</COMPONENT>
	<COMPONENT NAME="ADMIN_LOGIN">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="USERNAME" />
		<PARAMETER NAME="PASSWORD" />
	</COMPONENT>
	<COMPONENT NAME="DEVICE_INFO">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="CLIENT_MAC_ADDR" />
		<PARAMETER NAME="IP_ADDR" />
		<PARAMETER NAME="EROUTER_MAC" />
		<PARAMETER NAME="SERIAL_KEY" />
		<PARAMETER NAME="HOST_NAME" />
		<PARAMETER NAME="MODEL_NAME" />
		<PARAMETER NAME="REMOTE_ENABLE" />
		<PARAMETER NAME="BAND_STEERING" />
		<PARAMETER NAME="BAND_SELECTION" />
		<PARAMETER NAME="PARENTAL_ENABLE" />
	</COMPONENT>
	<COMPONENT NAME="TIME_ZONE">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="SELECTED" />
		<PARAMETER NAME="DST" />
	</COMPONENT>
	<COMPONENT NAME="DEV_REGINFO">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="REGISTERED" />
		<PARAMETER NAME="URL" />
	</COMPONENT>
	<COMPONENT NAME="REMOTE_CONFIG">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="ENABLE" />
		<PARAMETER NAME="USERNAME" />
		<PARAMETER NAME="PASSWORD" />
	</COMPONENT>
	<COMPONENT NAME="TRUSTED_DEVICE">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="MAC" />
	</COMPONENT>
	<COMPONENT NAME="GET_CAPABILITIES">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="LCA_VERSION" />
		<PARAMETER NAME="FW_VERSION" />
		<PARAMETER NAME="HNC_STATUS" />
		<PARAMETER NAME="SHI_STATUS" />
		<PARAMETER NAME="WIFI_SPEED_TEST" />
		<PARAMETER NAME="WAN_SPEED_TEST" />
		<PARAMETER NAME="USP_AGENT" />
		<PARAMETER NAME="ECO_CLOUD" />
		<PARAMETER NAME="MSO_CONFIG_FILE" />
		<PARAMETER NAME="CAPTCHA" />
		<PARAMETER NAME="BAND_STEERING" />
		<PARAMETER NAME="SPOT_METER" />
	</COMPONENT>
	<COMPONENT NAME="HNC_CLIENT_STEERING">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="HNC_STATUS" />
		<PARAMETER NAME="CLIENT_STEERING_STATUS" />
		<PARAMETER NAME="BAND_STEERING" />
	</COMPONENT>
	<COMPONENT NAME="IPERF_SPEED_TEST">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="ENABLE" />
		<PARAMETER NAME="CONFIGURE" />
	</COMPONENT>
	<COMPONENT NAME="OOKLA_SPEED_TEST">
		<PARAMETER NAME="ALL" />
		<PARAMETER NAME="ENABLE" />
	</COMPONENT>
</CONFIG>
